.takki{
    position:fixed;
    bottom: 26.5em;
    right:56.5em;
    color: green;
  
  
  
  
    background-color: rgb(89, 89, 89);
    border: 10em;
    border-radius: 10em;
    padding: 1em;
    font-size: 2em;
    height: 5px;
    width: 5px;
  }
  
  
  
  .takki2{
    color:rgb(255, 255, 255);
    bottom: 27.1em;
    right:57.3em;
    text-align: center;
    position: fixed;
  }

  body{
    background: rgb(109,104,98);
    background: linear-gradient(184deg, rgba(109,104,98,1) 0%, rgb(174, 168, 160) 51%, rgba(109,104,98,1) 100%);
    background-repeat: no-repeat;
    background-size: 1000em 150em;
  }

.maintexti{
    font-family: csgofont;
    font-size: 5em;
    text-align: center;
    position: relative;
    bottom: 70px;
    color: white;
    text-shadow: 2px 4px 8px #000000;
  }

.tbyss1{
  text-align: center;
  color: white;
  text-shadow: 2px 4px 8px #000000;
  width: 30%;
  position: relative;
  left: 16em;
  top: 5em;
}
.guns2{
  position: relative;
  left: 70em;
  bottom: 10em;
}
.heavy{
  text-align: center;
  color: white;
  text-shadow: 2px 4px 8px #000000;
  width: 30%;
  position: relative;
  bottom: -40px;
  left: 85em;
}
.guns3{
  position: relative;
  left: 13em;
  bottom: 12em;
}

.SMGS{
  text-align: center;
  color: white;
  text-shadow: 2px 4px 8px #000000;
  width: 30%;
  position: relative;
  bottom: 5em;
  left: 12em;
}

.guns4{
  position: relative;
  left: 70em;
  bottom: 20em;
}